@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
   <div style="background-color:#1f1c24" class="top-row px-4">
            <a style="background-color:#1f1c24; color:white"  href="http://localhost:8080/Rules" target="_parent">About</a>
        </div>
        <div  class="content px-4">
            @Body
        </div>
    </div>
</div>
